.overlay-none
{
    display: none;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: table;
}

div.word-selection-container
{
    display: table-cell;
    vertical-align: middle;
}

div.word-selection
{
    background-color: #d1f9fc;
    width: 90%;
    height: 90%;
    max-width: 50em;
    margin: auto;
    overflow-y: scroll;
}

div.word-selection > ul 
{
    padding: 1em;
    list-style-type: none;
}

div.word-selection > ul > li
{
    padding: .5em;
    margin: 1em;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

div.word-selection > ul > li > h1
{
    margin: 0;
}
